body {
  background: #C9D6FF;
  /* fallback for old browsers */
}

.wrapper {
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-52%) translateY(-52%);
  background: #333A56;
  box-shadow: 3px 4px 25px 0px black;
  border-radius: 15px;
}

.cal-display-container {
  width: 295px;
  margin: 0 10px 10px 0;
}
.cal-display-container #cal-display {
  height: 55px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: Roboto;
}

.form-control:disabled {
  background-color: #FEFFFF;
}

.btn {
  width: 60px;
  height: 60px;
  margin: 10px 0px;
}

.btn-dark {
  background-color: #52658F;
  border: solid 1px rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background-color: #5D5893;
  border: solid 1px rgba(0, 0, 0, 0.5);
}

.btn-info {
  background-color: #8698C5;
  border: solid 1px rgba(0, 0, 0, 0.5);
}

.btn-success {
  background-color: #A5ABBD;
  border: solid 1px rgba(0, 0, 0, 0.5);
}

.btn-danger {
  background-color: #E14658;
  border: solid 1px rgba(0, 0, 0, 0.5);
  color: black;
}

.btn-warning {
  background-color: #F77496;
  border: solid 1px rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
