body {
    background: #C9D6FF;  /* fallback for old browsers */ //Added background color to body 
}

.wrapper {
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-52%) translateY(-52%);
    background:#333A56; //changed color of wrapper
    box-shadow: 3px 4px 25px 0px rgba(0,0,0,1); //added shadow to wrapper 
    border-radius: 15px; //changed shape from rectangular to circular
}

.cal-display-container {
    width: 295px;
    margin: 0 10px 10px 0;

    #cal-display {
        height: 55px;
        border-radius: 10px;
        margin-top: 10px; //Added margin at top of "Project Calculator"
        font-family: Roboto; //Changed font of "Project Calculator" to Roboto
    }
}

.form-control:disabled {
    background-color: #FEFFFF; //changed background color of "Project Calculator"
}

.btn {
    width: 60px;
    height: 60px;
    margin: 10px 0px;
}

//Changed background color of arithmetic operation symbols and added shadow 
.btn-dark {
    background-color: #52658F;
    border: solid 1px rgba(0,0,0,0.5);
}

//Changed background color of numbers and added shadow 
.btn-primary {
    background-color: #5D5893;
    border: solid 1px rgba(0,0,0,0.5);
}

//Changed background color of two bottom row buttons and added shadow 
.btn-info {
    background-color: #8698C5;
    border: solid 1px rgba(0,0,0,0.5);
}

//Changed background color of "=" sign and added shadow 
.btn-success {
    background-color: #A5ABBD;
    border: solid 1px rgba(0,0,0,0.5);
}

//Changed background color of "AC" button and added shadow 
.btn-danger {
    background-color: #E14658;
    border: solid 1px rgba(0,0,0,0.5);
    color: black;
}

//Changed background color of "DEL" button and added shadow 
.btn-warning {
    background-color: #F77496;
    border: solid 1px rgba(0,0,0,0.5);
}

